@charset "UTF-8";
html, body, div, span, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic");
  src: url("../fonts/roboto-italic.woff2") format("woff2"), url("../fonts/roboto-italic.woff") format("woff"), url("../fonts/roboto-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium");
  src: url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular");
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rachana";
  font-style: normal;
  font-weight: 400;
  src: local("Rachana");
  src: url("../fonts/rachana-regular.woff2") format("woff2"), url("../fonts/rachana-regular.woff") format("woff"), url("../fonts/rachana-regular.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  src: local("FontAwesome");
  src: url("../fonts/fontawesome.woff2") format("woff2"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 600;
  src: local("Ubuntu Mono Bold"), local("UbuntuMono-Bold");
  src: url("../fonts/ubuntumono-b.woff2") format("woff2"), url("../fonts/ubuntumono-b.woff") format("woff"), url("../fonts/ubuntumono-b.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Mono Italic"), local("UbuntuMono-Italic");
  src: url("../fonts/ubuntumono-ri.woff2") format("woff2"), url("../fonts/ubuntumono-ri.woff") format("woff"), url("../fonts/ubuntumono-ri.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular");
  src: url("../fonts/ubuntumono-r.woff2") format("woff2"), url("../fonts/ubuntumono-r.woff") format("woff"), url("../fonts/ubuntumono-r.ttf") format("truetype");
}

body {
  font-family: "Roboto", "FontAwesome", "Rachana", "Arial", sans-serif;
  font-size: 1.7em;
  color: #333;
}

.blue {
  color: #2196f3;
}

.blue-bg {
  background-color: #2196f3;
}

.green {
  color: #4caf50;
}

.green-bg {
  background-color: #4caf50;
}

.pink {
  color: #e91e63;
}

.pink-bg {
  background-color: #e91e63;
}

.red {
  color: #f44336;
}

.red-bg {
  background-color: #f44336;
}

.orange {
  color: #ff9800;
}

.orange-bg {
  background-color: #ff9800;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

p {
  margin-bottom: 1.4em;
}

.key {
  font-family: "Ubuntu Mono", "FontAwesome", "Monaco", "Rachana", monospace;
  font-weight: bold;
  font-size: 0.9em;
}

span.key {
  display: inline-block;
  font-weight: normal;
  font-size: 0.9em;
  padding: 0 10px;
  color: #fff;
  background: #222;
  border: 1px solid #999;
  border-radius: 7px;
  box-shadow: 2px 2px 2px #222;
}

.info {
  display: block;
  border-left: 5px solid #2196f3;
  padding-left: 10px;
  background: #e3f2fd;
  margin-bottom: 1.4em;
}

.danger, .warning {
  border-left: 7px solid #ff9800;
  background: #fff3e0;
}

body {
  font-size: 1.4em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#content a, #postamble a {
  color: #333;
  transition: box-shadow 0.3s;
  -webkit-box-shadow: 0 3px #2196f3;
  box-shadow: 0 3px #2196f3;
}

#content a:hover, #postamble a:hover {
  color: black;
  -webkit-box-shadow: 0 5px #2196f3;
  box-shadow: 0 5px #2196f3;
}

ul.org-ul ul {
  padding-left: 25px;
}

code {
  font-family: "Ubuntu Mono", "FontAwesome", "Monaco", "Rachana", monospace;
  color: #e91e63;
  font-size: 1.0em;
}

code.src-c .org-keyword {
  color: #a020f0;
}

code.src-c .org-type {
  color: #228b22;
}

pre {
  font-family: "Ubuntu Mono", "FontAwesome", "Monaco", "Rachana", monospace;
  color: #fff;
  overflow: auto;
  padding: 16px;
  line-height: 1.3;
  border-radius: 8px;
  margin-left: -7%;
  margin-right: -7%;
  font-size: 1.0em;
  background: #122;
}

pre .org-type {
  color: #63b8ff;
}

pre .org-preprocessor {
  color: #6495ed;
  font-style: italic;
}

pre .org-string {
  color: #ffc1c1;
}

pre .org-function-name {
  font-weight: bold;
  color: #00fa9a;
}

pre .org-comment-delimiter {
  color: #fa8072;
}

pre .org-comment {
  color: #ff7f24;
  font-style: italic;
}

pre .org-keyword {
  color: #00ffff;
}

pre .org-constant {
  font-weight: bold;
  color: #7072e5;
}

pre .org-org-meta-line {
  color: #ff7f24;
}

pre .org-org-document-title {
  font-weight: bold;
  color: #afeeee;
}

pre .org-org-document-info {
  color: #afeeee;
}

pre .org-org-document-info-keyword, pre .org-org-code {
  color: #b3b3b3;
}

pre .org-builtin {
  color: #b0c4de;
}

pre .org-sh-heredoc {
  color: #ffff00;
}

@media screen and (max-width: 38.125em) {
  pre {
    margin-left: 1px;
    margin-right: 1px;
  }
}

.nav {
  position: absolute;
  width: 100%;
  text-align: left;
  font-size: 0.7em;
  border-bottom: 1px solid #ccc;
}

.nav .f-left {
  margin-left: 25px;
}

.nav .f-right {
  margin-right: 25px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
}

.nav a {
  z-index: 999;
  display: inline-block;
  padding: 10px 22px 10px 12px;
  color: #555;
  transition: box-shadow 0.3s;
}

.nav a:hover {
  text-decoration: none;
  box-shadow: inset 0 -5px #2196f3;
  color: #222;
}

.nav a:before {
  font-family: "FontAwesome", "Font Awesome";
  font-size: 0.9em;
  opacity: 0.3;
  display: inline-block;
  vertical-align: middle;
  padding-right: 7px;
}

.nav .active {
  box-shadow: inset 0 -5px #2196f3;
  color: #333;
}

.nav .active:before {
  opacity: 0.8;
}

.nav .home:before {
  content: " ";
}

.nav .blog:before {
  content: " ";
}

.nav .feed:before {
  content: " ";
}

.nav .code:before {
  content: " ";
}

.nav .diary:before {
  content: " ";
}

.nav .donate:before {
  content: " ";
}

.nav .gitlab:before {
  content: " ";
}

.nav .github:before {
  content: " ";
}

.nav .show-menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: none;
  text-align: center;
  margin: 10px 25px 0 0;
  padding: 10px 20px;
  display: none;
}

.nav #show-menu {
  display: none;
}

.nav input[type=checkbox] {
  display: none;
  -webkit-appearance: none;
}

.nav input[type=checkbox]:checked ~ #menu {
  display: block;
}

.nav input[type=checkbox]:checked + label {
  background: #eee;
}

#content .post-title {
  font-size: 1em;
  display: table-row;
}

#content .post-title .ptitle {
  display: table-cell;
}

#content .post-title .date {
  display: table-cell;
  color: #777;
  padding-right: 2.5em;
}

#content .post-title a {
  -webkit-box-shadow: 0 0px #2196f3;
  box-shadow: 0 0px #2196f3;
}

#content .post-title a:hover {
  color: #111;
  -webkit-box-shadow: 0 5px #2196f3;
  box-shadow: 0 5px #2196f3;
}

#content .project-title {
  font-size: 1em;
}

#content .project-title .description {
  color: #444;
  padding: 0.5em 0 0.5em 2em;
  display: block;
}

#content .project-title .name {
  display: block;
  color: #777;
}

h1, h2, h3, h4, h5 {
  position: relative;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  margin: 1.1em 0 1.65em -1em;
  font-weight: normal;
  line-height: 1em;
}

h2, h3 {
  margin: 2.8em 0 0.7em;
}

h2 {
  font-weight: 500;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
  color: #2196f3;
}

#content {
  margin: 0 auto;
  max-width: 30em;
  padding: 100px 15px 10px 15px;
  padding-top: 100px;
  font-size: 1.0em;
  line-height: 1.5em;
  color: #333;
}

::-moz-selection {
  color: #fff;
  background: #2196f3;
}

::selection {
  color: #fff;
  background: #2196f3;
}

#postamble {
  font-size: 0.75em;
  color: white;
  text-align: center;
  background-color: #304FFE;
  padding-bottom: 1em;
  margin-top: 5em;
  padding-bottom: 1em;
  padding-top: 1em;
  line-height: 1.9em;
}

#postamble a {
  color: white;
  transition: box-shadow 0.3s;
  -webkit-box-shadow: 0 2px white;
  box-shadow: 0 2px white;
}

#postamble a:hover {
  color: white;
  -webkit-box-shadow: 0 4px white;
  box-shadow: 0 4px white;
}

#postamble ul {
  list-style: none;
}

@media screen and (max-width: 62.5em) {
  body {
    font-size: 1.4em;
  }
  .nav a:before {
    display: none;
  }
}

@media screen and (max-width: 49em) {
  body {
    font-size: 1.1em;
  }
  h1 {
    margin: 1.1em 0 1.65em 0;
    font-weight: normal;
  }
  ul.org-ul {
    padding-left: 18px;
  }
  ul.org-ul ul {
    padding-left: 20px;
  }
  #content {
    padding: 100px 7px 10px 7px;
  }
  .nav {
    border: 0;
    font-size: 1em;
  }
  .nav ul li {
    background-color: #fff;
    display: list-item;
  }
  .nav li, .nav .active {
    border: none;
  }
  .nav .show-menu {
    display: block;
  }
  #menu {
    display: none;
    margin: -10px;
    line-height: 1em;
    margin-right: 25px;
  }
  #menu ul {
    width: 7em;
    clear: both;
    border: 1px solid #999;
    position: relative;
    z-index: 999;
  }
  #menu ul li {
    width: 7em;
  }
  #menu ul li a {
    width: 5.5em;
  }
  #menu .f-left, #menu .f-right {
    float: right;
    margin: 0;
  }
  #menu .f-left {
    border-bottom: none;
  }
  #menu .f-right {
    border-top: none;
  }
  .nav a:hover {
    text-decoration: none;
    box-shadow: none;
    color: #222;
  }
  .nav .active {
    box-shadow: none;
    color: #333;
  }
}
