// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


code {
  font-family: $font-code;
  color: $color-pink;
  font-size: 1.0em;

  &.src-c {
    .org-keyword {color:#a020f0;}
    .org-type {color:#228b22;}
  }
}

pre {
  font-family: $font-code;
  color: $color-white;
  overflow: auto;
  padding: 16px;
  line-height: 1.3;
  border-radius: 8px;
  margin-left: -7%;
  margin-right: -7%;
  font-size: 1.0em;
  background: #122;;
  .org-type {color: #63b8ff;}
  .org-preprocessor {color: #6495ed; font-style: italic;}
  .org-string {color: #ffc1c1;}
  .org-function-name {font-weight: bold; color: #00fa9a;}
  .org-comment-delimiter {color: #fa8072;}
  .org-comment, {color: #ff7f24; font-style: italic;}
  .org-keyword {color:  #00ffff;}
  .org-constant {font-weight: bold; color:  #7072e5;}

  // Coding style for org-mode files
  .org-org-meta-line {color: #ff7f24;}
  .org-org-document-title {font-weight: bold; color: #afeeee;}
  .org-org-document-info {color: #afeeee;}
  .org-org-document-info-keyword, .org-org-code {color: #b3b3b3;}
  .org-builtin {color: #b0c4de}

  // For shell script specific files
  .org-sh-heredoc {color: #ffff00}
}

@media screen and (max-width: 38.125em) {
  pre {
    margin-left: 1px;
    margin-right: 1px;
  }
}
