// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.


#content {
  margin: 0 auto;
  max-width: 30em;
  padding: 100px 15px 10px 15px;
  padding-top: 100px;
  font-size: 1.0em;
  line-height: 1.5em;
  color: $color-text-dark;
}


@mixin content-sm() {
  #content {
    // max-width: 10em;
    padding: 100px 7px 10px 7px;
    //font-size: 0.85em;
  }
}

@mixin content-md() {
    #content {
      // max-width: 16em;
    }

  .nav a:before {
    display: none;
  }
}


::-moz-selection {
  color: $color-white;
  background: $color-bg-selected;
}

::selection {
  color: $color-white;
  background: $color-bg-selected;
}
