// -*- mode: scss; indent-tabs-mode: nil; css-indent-offset: 2 -*-

// Written in 2017 by Mohammed Sadiq <www.sadiqpk.org>

// To the extent possible under law, the author(s) have dedicated all
// copyright and related and neighboring rights to this software to
// the public domain worldwide. This software is distributed without
// any warranty.

// You should have received a copy of the CC0 Public Domain Dedication
// along with this software. If not, see
// <http://creativecommons.org/publicdomain/zero/1.0/>.

a {text-decoration: none;}
a:hover {text-decoration: none;}

#content a, #postamble a {
  color: $color-text-dark;
  transition: box-shadow 0.3s;
  @include box-shadow(0 3px $color-blue);
  &:hover {
    color: black;
    @include box-shadow(0 5px $color-blue);
  }
}
